{{> navbar}}
<h1>Cars</h1>

{{> body}}
<form class="create-form">
<br>

  <div class="form-group">
    <label for="year">Year:</label>
    <input type="text" id="year" name="name">
  </div>
<br>

  <div class="form-group">
    <label for="mileage">Mileage</label><br>
    <input type="text" id="mileage" name="Mileage">
  </div>
<br>

<div class="form-group">
    <label for="style">Style</label><br>
    <label for="two">Two door:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
    <label for="four">Four door:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
</div>
<br>

<div class="form-group">
    <label for="style">Auto Type:</label><br>
    <label for="ca">Car:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
    <label for="truck">Truck:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
    <label for="suv">SUV:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
    <label for="truck">Motorcycle:</label><br>
    <input type="checkbox" {{bindAttr checked="isChecked"}}>
</div>
<br>

 <div class="form-group">
    <label for="make">Make:</label><br>
    <input type="text" id="make" name="make">
</div>
<br>

 <div class="form-group">
    <label for="model">Model:</label><br>
    <input type="text" id="mo" name="Mode;">
</div>
<br>

 <div class="form-group">
    <label for="Color">Color:</label><br>
    <input type="text" id="co" name="Color">
</div>
<br>
</form>
<button type="submit">Submit</button>